p > code, li > code {
    font-family: Menlo, Consolas, monospace;
    border-radius: 2px;
    font-size: 0.85em;
    background: #f8f8f8;
}

p {
    font-size: 17px;
}

h4 {
    margin-bottom: 0.25em;
}

html {
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
    background: #FCFCFC;
}

.content {
    background: white;
}

h1 {
    color: black;
}

h2 {
    padding-bottom: 0.3em;
}

h1, h2 {
    border-bottom: solid 1px #F3F3F3;
}

h3 {
    font-size: 1.2em;
    background: none;
    padding: 0;
    font-weight: 400;
}

.layout-container > header {
    border-bottom: none;
    background: #FCFCFC;
}

.navigation {
    background: #FCFCFC;
    border: none;
}

.access {
    font-family: Menlo, Consolas, monospace;
    font-size: 14px;
    line-height: 1.6em;
    font-weight: bold;
}

pre.prettyprint, pre code.prettyprint, pre > code {
    background: #F9F9F9;
    font-size: 14px;
    
    font-family: Menlo, Consolas, monospace;
    line-height: 20px;
}

pre > code {
    padding: 1em 1.3em;
}

pre > code > code {
    padding: 0;
    margin: 0;
}

pre.source-code {
    padding: 8px;
    font-size: 1em;
    background: #f7f7f7;
}

table.summary thead {
    background: none;
    color: black;
    
}

table.summary thead td {
    font-weight: 300;
    font-size: 1.2em;
}

table.summary td {
    border: none;
}

table.summary tr:not(:last-child) {
    border-bottom: 1px solid #F7F7F7;
}

table.summary tbody td:nth-child(1) {
    font-weight: bold;
    color: #666;
}

table.summary tbody td > div:nth-child(1) {
    color: #666;
    font-family: Menlo, Consolas, monospace;
    font-size: 1em;
}

table.summary tbody td > div:nth-child(1) p {
    font-size: 0.95em;
}

table.params thead {
    background: none;
    font-size: 1em;
    font-weight: 300;
    color: #666;
    border-bottom: 1px solid #F7F7F7
}

table.params tbody tr:not(:last-child) {
    border-bottom: 1px solid #FAFAFA;
}

table.params td {
    border: none;
}

table.params td[data-ice=type], table.params td[data-ice=name] {
    color: #666;
    font-family: Menlo, Consolas, monospace;
    font-size: 1em;
}

.content .detail > h3 {
    background: #F7F7F7;
    padding: 8px;
    border-radius: 5px;
    font-family: Menlo, Consolas, monospace;
    font-size: 0.9em;
    color: #666;
}

.import-path {
    margin-bottom: 0.5em;
}

.return-type {
    white-space: nowrap;
}

.return-type, p[data-ice=throwName], .import-path {
    font-family: Menlo, Consolas, monospace;
}

.return-type, p[data-ice=throwName] {
    font-size: 0.9em;
}

.header-notice span {
    display: none;
}

.navigation li span[data-ice=name] {
    padding-left: 4px;
    font-size: 1em;
}

hr {
    border: none;
    border-top: 1px solid #DDD;
    margin-bottom: 1em;
}