.sidebar {
  box-sizing: border-box;
  padding: 1rem 0 1rem $body-padding;


  .sidebar__sectionheader {
    margin: 0;
    font-size: 0.9rem;
    line-height: 2em;

    color: $neutral-7;
    font-weight: 500;

    margin-bottom: 3px;
  }

  .sidebar__section {
    list-style: none;
    margin: 0;
    padding: 4px 0 4px 1rem;

    .sidebar__section__item {
      margin: 0;
      font-size: 0.9rem;
      line-height: 2em;

      color: $neutral-5;
      font-weight: 400;

      margin: 1px 0;
    }
  }
}
