{
    "plugins": [
        "include",
        "loop-optimizer",
        "wildcard",
        "add-module-exports",
        ["transform-runtime", {
            "polyfill": false
        }],
        "transform-class-properties",
        "transform-do-expressions",
        "transform-function-bind",
        "babel-plugin-transform-export-extensions"
    ],
    "presets": [
        "react",
        "flow",
        ["env", {
            "targets": {
                "node": "4.8"
            }
        }],
    ],
    "env": {
        "test": {
            "plugins": [
                "istanbul"
            ]
        }
    }
}
