{
    "plugins": [ "loop-optimizer", "wildcard", "add-module-exports" ],
    "presets": [
        "flow",
        ["env", {
            "targets": {
                "node": 4.2
            }
        }],
    ]
}