.user-text {
  -webkit-font-smoothing: antialiased;
  font-size: 1.1rem;
  line-height: 2em;
  font-weight: 400;
  color: $neutral-6;

  a {
    color: $link-color;

    &:hover {
      border-bottom: 1px solid $link-color;
    }
  }
}
