extends layout.pug
include inlineType.pug

block body
    .giant
        +inlineType(item)
    
    if item.overview
        .overview
            h3 Overview
            div.body!= render(item.overview)
