include inlineType.pug

ul.sidebar
    each item in items
        li.item
            +inlineType(item)
            //- a(href=`${rootPath}/i/${item.name}.html`)
            //-     - var icon = item.ty[0].toUpperCase()
            //-     span(aria-disabled=true, class='icon ' + icon)= icon
            //-     span.itemName= item.name
