.body-split {
  height: 100%;
  display: flex;
  flex-direction: column;

  .body-split__split {
    flex: 1;
    overflow: auto;

    display: flex;
    flex-direction: row;

    .body-split__split__wide {
      flex: 1;
    }
  }
}
