.sidebar
    each section, sectionType in docGen.sections
        h2.sidebar__sectionheader= sectionType
        ul.sidebar__section
            each item, itemURL in section.items
                li.sidebar__section__item(
                    class=item.instances == currentInstances && "sidebar__section__item--current"
                )
                    a(href=pathFor(itemURL))= item.name
