html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
}

@import "variables.scss";
@import "components/header/header.scss";
@import "components/body-split/body-split.scss";
@import "components/sidebar/sidebar.scss";
