.header {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: stretch;

  box-sizing: border-box;

  box-shadow: 0 2px 8px -1px rgba(0,0,0,.3);

  z-index: 1;

  background: $theme-color;

  padding: 0 $body-padding;

  // For header components that are also links
  a.header__component {
    transition: background .1s ease-in;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .header__title {
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1rem;
    color: $contrast-color;
  }

  @import "versiontag.scss";
}
